<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to(image_tag("header_logo.png", :alt => ""), root_url, id: 'logo') %>
    <div class ='header_text_top'>こそっと、coson</div>
    <div class ='header_text_bottom'>全ての情報を、一箇所に</div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'cosonとは？', about_path %></li>
    </ul>
  </div>
</header>